<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/js/slick/slick/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/main/js/slick/slick/slick-theme.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/main/css/style.css') }}" type="text/css" media="screen"/>
        <link rel="stylesheet"  href="{{ asset('bundles/main/css/bootstrap.min.css') }}" type="text/css" media="screen"/>
        <link href='https://fonts.googleapis.com/css?family=Philosopher:400italic,400,700' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <header id="header">
            <div class="content">
                <div id="logo"><a href=""> SynPhoto </a></div>
                <nav id="nav">
                    <ul id="slidenav">
                        <li><a href="{{ path('homepage') }}" class="active" title="Next Section">Home</a></li>
                        {% if is_granted('ROLE_USER') %}
                           <li><a href="{{ path("albums_list") }}" title="Next Section">Albums</a></li>
                           <li><a href="{{ path("photo_new") }}" title="Next Section">Photo</a></li>
                            <li><a href="{{ path("albums_user_list",{'id':app.user.id }) }}" title="Next Section">My Albums</a></li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                           <li><a href="{{ path("user_registration") }}" title="Next Section">Register</a></li>
                        {% endif %}
                        <li><a href="{{ path("login") }}" title="Next Section">Connexion</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}

        {% endblock %}




        <script src="{{ asset("bundles/main/js/jquery.js") }}"></script>
        <script src="{{ asset("bundles/main/js/jquery-migrate.js") }}"></script>
        <script src="{{ asset("bundles/main/js/slick/slick/slick.min.js") }}"></script>
        <script src="{{ asset("bundles/main/js/slider.js") }}"></script>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
