{% extends 'MainBundle::layout.html.twig' %}
{% block bodyLayout  %}
    <div class="contentAlbum">
        <div class="" >
            {% for message in app.session.flashbag.get('success') %}
                {{ message }}
            {% endfor %}
            <a href="{{ path('album_new') }}" class="btn btn-info pull-right" role="button"> New album </a>
        </div> </br>
        <div>

            <h1>Albums list</h1>

            <table class="table table-hover" id="someid">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th> Description</th>
                </tr>

                </thead>
                <tbody>
                {% for album in albums %}
                    <tr>
                        <td><a href="{{ path ('photo_list',{ 'id': album.id }) }}">{{ album.titre}}</a></td>
                        <td>{{ album.description }}</td>
                        <td>

                            <form action="{{ path('albums_unsubscribe') }}" method="POST">
                                <input type="hidden" id="form_id" name="album_id" class="form-control" value="{{ album.id }}" />
                                <input type="hidden" name="user_id" class="form-control" value="{{ app.user.id }}" />
                                <button class="btn btn-link">Unsubscribe</button>

                            </form>

                        </td>

                    </tr>
                {% else %}
                    There is no album yet in database.
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


